body{
    background: url("../images/whitey_@2X.png");
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    color: rgb(53, 53, 53)

}

.ks-container {
  /*  background-color: grey  */
    position: relative;
    outline: solid 1px rgb(201, 201, 201);
}
.ks-container::after {
    content:"";
      background: url("../images/seamless_paper_texture.png");  
      opacity:.4;
      top:0;
      left:0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      box-shadow: 4px 4px 20px 0px rgb(61, 61, 61);
}

.ks-buttonContainer {
    width: 100%;
}
.ks-buttonChoices {
    background-color: rgb(255, 255, 255, .3);
    width: 40%;
    margin:1%; 
  color: #6c757d;
  border-color: #6c757d;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    user-select: none;
/*   background-color: transparent; */
  border: 1px solid #6c757d;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ks-buttonChoices:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.ks-buttonChoices:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  
}

.gifClass {
    width: auto;
    text-align: center
}